.card-text {
    margin-top: 5px;
    margin-bottom: 1px;
}

.card-title {
    text-align: center;
    font-size: 1.5em;
}

.card-subtitle {
    font-size: 1.2em;
}

.input {
    width: 100%;
    padding: 10px;
    background: transparent;
    font-size: 1em;
  }