<app-nav-bar></app-nav-bar>
<div class="container h-100">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-3">
      <div class="searchbar">
        <input type="text" [(ngModel)]="userFilter.lastName">
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div *ngFor="let user of users | filterBy : userFilter" class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">UserId:{{user.id}}</h5>
              <p class="card-text">FirstName: {{user.firstName}}</p>
              <p class="card-text">LastName: {{user.lastName}}</p>
              <p class="card-text">Department: {{user.department}}</p>
              <p class="card-text">OfficeFloor: {{user.officeFloor}}</p>
              <p class="card-text">Roles: {{user.roles}}</p>
            </div>
        <button>Edit User details</button>
        </div>
      </div>
      <div class="noMatching" *ngIf="(users | filterBy: userFilter).length === 0">No matching vaues </div>
   </div>
</div>
  
   
