<app-nav-bar></app-nav-bar>
<div class="container h-100">

    <div class="row justify-content-center align-items-center">

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Select a category
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a *ngFor = "let category of categories" class="dropdown-item" href="#">{{category.name}}</a></li> 
        </ul>
      </div>

      <section class="example-section">
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
      </section>

      <div *ngFor = "let borrowedProduct of borrowedProducts | paginate: {
        itemsPerPage: 4,
        currentPage: page
      }" class="col-md-3">
          <div class="card" style="width: 18rem;">
              <img src="assets/unnamed.png" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Object Name</h5>
                <p class="card-text">{{borrowedProduct.id}}</p>
                <p class="card-text">{{borrowedProduct.userId}}</p>
                <p class="card-text">{{borrowedProduct.productId}}</p>
                <p class="card-text">{{borrowedProduct.startDate}}</p>
                <p class="card-text">{{borrowedProduct.endDate}}</p>
              </div>
              <div class="card-body">
                <button class="btn btn-primary">Give Back</button>
              </div>
          </div>
      </div>

      <div class="pagination">
        <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
      </div>

    </div>
</div>