div.card {
    margin-top: 50px;
}

div.container {
  text-align: center;
  height: 100%;
}

div.card {
    align-items: center;
    justify-content: center;
}

div.row.justify-content-center.align-items-center {
    height: 100%;
    min-height: 100%
}

div.pagination {
    justify-content: center;
    margin-top: 30px;
}

.cont {
    width: 93%;
    max-width: 350px;
    text-align: center;
    margin: 4% auto;
    padding: 30px 0;
    background: #111;
    color: #EEE;
    border-radius: 5px;
    border: thin solid #444;
    overflow: hidden;
  }
  
div.stars {
    width: 270px;
    display: inline-block;
  }
