<app-nav-bar></app-nav-bar>
<div class="container h-100">

    <div class="row justify-content-center align-items-center">
      <div class="col-md-3">
          <div class="card" style="width: 18rem;">
              <img src="assets/unnamed.png" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Object Name</h5>
                <p class="card-text">Object Details</p>
                <p class="card-text">Borrowed from who</p>
                <p class="card-text">Date of return: ZZ-MM-YYYY</p>
              </div>
              <div class="card-body">
                <button class="btn btn-primary">Give Back</button>
              </div>
          </div>
      </div>
  
      <div class="col-md-3">
          <div class="card" style="width: 18rem;">
              <img src="assets/unnamed.png" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Object Name</h5>
                <p class="card-text">Object Details</p>
                <p class="card-text">Borrowed from who</p>
                <p class="card-text">Date of return: ZZ-MM-YYYY</p>
              </div>
              <div class="card-body">
                <button class="btn btn-primary">Give Back</button>
              </div>
          </div>
      </div>
  
      <div class="col-md-3">
          <div class="card" style="width: 18rem;">
              <img src="assets/unnamed.png" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Object Name</h5>
                <p class="card-text">Object Details</p>
                <p class="card-text">Borrowed from who</p>
                <p class="card-text">Date of return: ZZ-MM-YYYY</p>
              </div>
              <div class="card-body">
                <button class="btn btn-primary">Give Back</button>
              </div>
          </div>
      </div>
    </div>
  
    <div class="row justify-content-center align-items-center">
      <div class="col-md-3">
          <div class="card" style="width: 18rem;">
              <img src="assets/unnamed.png" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Object Name</h5>
                <p class="card-text">Object Details</p>
                <p class="card-text">Borrowed from who</p>
                <p class="card-text">Date of return: ZZ-MM-YYYY</p>
              </div>
              <div class="card-body">
                <button class="btn btn-primary">Give Back</button>
              </div>
          </div>
      </div>
  
      <div class="col-md-3 align-item-center">
          <div class="card" style="width: 18rem;">
              <img src="assets/unnamed.png" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Object Name</h5>
                <p class="card-text">Object Details</p>
                <p class="card-text">Borrowed from who</p>
                <p class="card-text">Date of return: ZZ-MM-YYYY</p>
              </div>
              <div class="card-body">
                <button class="btn btn-primary">Give Back</button>
              </div>
          </div>
      </div>
  
      <div class="col-md-3">
          <div class="card" style="width: 18rem;">
              <img src="assets/unnamed.png" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Object Name</h5>
                <p class="card-text">Object Details</p>
                <p class="card-text">Borrowed from who</p>
                <p class="card-text">Date of return: ZZ-MM-YYYY</p>
              </div>
              <div class="card-body">
                <button class="btn btn-primary">Give Back</button>
              </div>
          </div>
      </div>
    </div>
  
    <div class="row justify-content-center align-items-center">
      <div class="col-md-3">
          <div class="card" style="width: 18rem;">
              <img src="assets/unnamed.png" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Object Name</h5>
                <p class="card-text">Object Details</p>
                <p class="card-text">Borrowed from who</p>
                <p class="card-text">Date of return: ZZ-MM-YYYY</p>
              </div>
              <div class="card-body">
                <button class="btn btn-primary">Give Back</button>
              </div>
          </div>
      </div>
  
      <div class="col-md-3">
          <div class="card" style="width: 18rem;">
              <img src="assets/unnamed.png" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Object Name</h5>
                <p class="card-text">Object Details</p>
                <p class="card-text">Borrowed from who</p>
                <p class="card-text">Date of return: ZZ-MM-YYYY</p>
              </div>
              <div class="card-body">
                <button class="btn btn-primary">Give Back</button>
              </div>
          </div>
      </div>
  
      <div class="col-md-3">
          <div class="card" style="width: 18rem;">
              <img src="assets/unnamed.png" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Object Name</h5>
                <p class="card-text">Object Details</p>
                <p class="card-text">Borrowed from who</p>
                <p class="card-text">Date of return: ZZ-MM-YYYY</p>
              </div>
              <div class="card-body">
                <button class="btn btn-primary">Give Back</button>
              </div>
          </div>
      </div>
    </div>
  </div>