<app-nav-bar></app-nav-bar>
<div class="container h-100">
  <div class="nav-bar-ctn">
    <div class="row justify-content-center align-items-center">
    
      <div class="col-md-3" >
        <select class="form-control custom-select" [(ngModel)]="selectedCategory" (change)="getSelectedCategory()">
          <option class="option-display" selected="selected" value=0>All categories</option>
          <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
        </select> 
       </div>
      <section class="example-section">
      </section>

      <div class="no-products" *ngIf="borrowedProducts.length <= 0">You have no borrowed products</div>
      <div *ngFor="let borrowedProduct of borrowedProducts | paginate : 
      {itemsPerPage: 8, 
      currentPage: page}" class="col-md-3" style="margin-left: 20px;">
        <div class="card" >
            <img src="{{borrowedProduct.imagePath}}" class="card-img-top" >
            <div class="card-body">
              <div class="card-info">
                <h5 class="card-title">{{borrowedProduct.name}}</h5>
                <p class="card-text">Type: {{borrowedProduct.subCategoryName}}</p>
                <p class="card-text">Owner: {{borrowedProduct.user}}</p>
                <p class="card-text">Details: </p>
              </div>
              <div class="card-details">
                <p *ngFor="let productDetails of borrowedProduct.detailsList" class="card-text">{{productDetails.name}} : {{ productDetails.description}}</p>
              </div>
              <p class="card-text" *ngIf="borrowedProduct.isAvailable == true, hidden">Item is available<mat-icon class="available-icon">check_circle</mat-icon></p>
              <p class="card-text" *ngIf="borrowedProduct.isAvailable == false, hidden">Item is not available<mat-icon color = "warn">unpublished</mat-icon></p>
            </div>
            <div class="card-bottom">
              <ngb-rating class="rating" [max]="5"  [(ngModel)]="borrowedProduct.rating" (click)="rateProduct(borrowedProduct.id, borrowedProduct.rating)"></ngb-rating>
              <p class="card-text">Rate: {{borrowedProduct.rating}}</p>
                <button  class="btn btn-primary" (click)="giveBackProduct(borrowedProduct.id)">Give Back</button>
              </div>
            </div>
        </div>
    </div>
  </div>

      <div *ngIf="borrowedProducts.length > 0" class="pagination">
        <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
      </div>

</div>