<form [formGroup] = "service.resetPasswordModel" (submit)="resetPassword()" autocomplete="off">
    <p class="page-title">Forgot Password</p>
            <label>
                <p class="label-txt">Password</p>
                <input type="password" class="input" formControlName="Password">
                <div class="line-box">
                    <div class="line"></div>
                </div>
                <label class="text-danger" *ngIf="service.resetPasswordModel.get('Password')?.touched && service.resetPasswordModel.get('Password')?.errors?.required">Password required</label>
                <label class="text-danger" *ngIf="service.resetPasswordModel.get('Password')?.touched && service.resetPasswordModel.get('Password')?.errors?.minlength">The password must have at least 6 characters</label>
                <label class="text-danger" *ngIf="service.resetPasswordModel.get('Password')?.touched && service.resetPasswordModel.get('Password')?.errors?.pattern">The password must have at least one digit</label>
            </label>

            <label>
                <p class="label-txt">Confirm Password</p>
                <input type="password" class="input" formControlName="ConfirmPassword">
                <div class="line-box">
                    <div class="line"></div>
                </div>
                <label class="text-danger" *ngIf="service.resetPasswordModel.get('ConfirmPassword')?.touched && service.resetPasswordModel.get('ConfirmPassword')?.errors?.required">Confirm Password required</label>
                <label class="text-danger" *ngIf="service.resetPasswordModel.get('ConfirmPassword')?.touched && service.resetPasswordModel.get('Password')?.value != service.resetPasswordModel.get('ConfirmPassword')?.value">Password doesn`t match</label>
            </label>
            <button class="btn btn-dark" [disabled] = "service.resetPasswordModel.get('Password')?.value != service.resetPasswordModel.get('ConfirmPassword')?.value" >Submit</button>
</form>