<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand">Siemens Community</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/borrowed">Borrowed </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/mycatalog">My Catalog </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/lent">Lent</a>
      </li>
    </ul>
  </div>
  <button class="btn btn-dark" routerLink="/login">Logout</button>
</nav>