@model IEnumerable<SiemensCommunity.Model.Entities.Book>

<h1>Books List</h1>
@foreach (var book in Model)
            {
                <div>
                    <h3>@book.Name</h3>
                    <h3>@book.Author</h3>
                    <h3>@book.Category</h3>
                    <h3>@book.Owner</h3>
                </div>
            }