<form [formGroup] = "service.forgotPasswordModel" (submit)="recoverPassword()" autocomplete="off">
    <p class="page-title">Forgot Password</p>
            <label>
                <p class="label-txt">Email</p>
                <input type="text" class="input" formControlName="Email">
                <div class="line-box">
                    <div class="line"></div>
                </div>
                <label class="text-danger" *ngIf="service.forgotPasswordModel.get('Email')?.touched && service.forgotPasswordModel.get('Email')?.errors?.required">Email is required</label>
                <label class="text-danger" *ngIf="service.forgotPasswordModel.get('Email')?.touched && service.forgotPasswordModel.get('Email')?.errors?.email">Invalid Email</label>
            </label>

    <button class="btn btn-dark">Submit</button>
</form>