@model IEnumerable<SiemensCommunity.Persistence.Models.Entities.Product>

<h1>Books List</h1>
@foreach (var product in Model)
            {
                <div>
                    <h3>@product.Name</h3>
                </div>
            }