<app-nav-bar></app-nav-bar>
<form [formGroup] = "service.addProductModel" (submit)="addProduct()" enctype="multipart/form-data" autocomplete="off">
    <p>{{titlePage}}</p>
        <input type="hidden" formControlName = "Id" value="0"/>
            <label>
                <p class="label-txt">Product name</p>
                <input type="text" class="input" formControlName="Name">
                <div class="line-box">
                    <div class="line"></div>
                </div>
                <label class="text-danger" *ngIf="service.addProductModel.get('Name')?.touched && service.addProductModel.get('Name')?.errors?.required">A name is required</label>
            </label>

            <label>                      
                <p class="label-txt">Category</p>
                <select class="form-control custom-select" formControlName="Category" (ngModelChange)="onCategoryChanged($event)">
                    <option *ngFor = "let category of selectedCategories" selected = "{{category.isSelected == 'selected'}}" value="{{category.id}}">{{category.name}}</option>
                </select> 
                <div class="line-box">
                    <div class="line"></div>
                </div>                                                                
                <label class="text-danger" *ngIf="service.addProductModel.get('Category')?.touched && service.addProductModel.get('Category')?.errors?.required">Category is required</label>
            </label>

            <label>                      
                <p class="label-txt">Subcategory</p>
                <select class="form-control custom-select" formControlName="SubCategory" (ngModelChange)="onSubCategoryChanged($event)">
                    <option *ngFor = "let subcategory of selectedSubCategories" selected value = "{{subcategory.id}}" >{{subcategory.name}}</option>
                </select> 
                <div class="line-box">
                    <div class="line"></div>
                </div>                                                                
                <label class="text-danger" *ngIf="service.addProductModel.get('Subcategory')?.touched && service.addProductModel.get('Subcategory')?.errors?.required">Subcategory is required</label>
            </label>

            <label *ngFor = "let property of properties">
                <p class="label-txt" >{{property.name}}</p>
                <input type="text" class="input" value="{{property.description}}" (change)="onInputChange($event, property.id)">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
                <label class ="label_image">
                    <div class="label_input">
                        <p class="label-txt" >Image</p>
                        <input type="file" class="input" (change)="onFileSelect($event)" formControlName="Image">
                        <div class="img_ctn" *ngIf ="productImage != ''">
                            <img src = "{{productImage}}" alt = "Imaginea produsului"/>
                        </div>
                    </div>
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </label>


    <button class="btn btn-dark" >Submit</button>
</form>