<form [formGroup] = "service.addProductModel" (submit)="addProduct()" enctype="multipart/form-data" autocomplete="off">
    <p>{{titlePage}}</p>
        <input type="hidden" formControlName = "Id" value="0"/>
            <label>
                <p class="label-txt">Product name</p>
                <input type="text" class="input" formControlName="Name">
                <div class="line-box">
                    <div class="line"></div>
                </div>
                <label class="text-danger" *ngIf="service.addProductModel.get('Name')?.touched && service.addProductModel.get('Name')?.errors?.required">A name is required</label>
            </label>

            <label>                      
                <p class="label-txt">Category</p>
                <select class="form-control custom-select" formControlName="Category" (ngModelChange)="onCategoryChanged($event)">
                    <option class="option-display" selected="selected" hidden>Select an option:</option>
                    <option *ngFor = "let category of selectedCategories" value="{{category.id}}">{{category.name}}</option>
                </select> 
                <div class="line-box">
                    <div class="line"></div>
                </div>                                                                
                <label class="text-danger" *ngIf="service.addProductModel.get('Category')?.touched && service.addProductModel.get('Category')?.errors?.required">Category is required</label>
            </label>

            <label>                      
                <p class="label-txt">Subcategory</p>
                <select class="form-control custom-select" formControlName="SubCategory" (ngModelChange)="onSubCategoryChanged($event)">
                    <option class="option-display" selected="selected" hidden value = "Select an option:">Select an option:</option>
                    <option *ngFor = "let subcategory of selectedSubCategories" value = "{{subcategory.id}}" >{{subcategory.name}}</option>
                </select> 
                <div class="line-box">
                    <div class="line"></div>
                </div>                                                                
                <label class="text-danger" *ngIf="service.addProductModel.get('Subcategory')?.touched && service.addProductModel.get('Subcategory')?.errors?.required">Subcategory is required</label>
            </label>

            <label *ngFor = "let property of properties">
                <p class="label-txt" >{{property.name}}</p>
                <input type="text" class="input" formControlName="property">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>

            <label >
                <p class="label-txt" >Image</p>
                <input type="file" class="input" (ngModelChange)="onFileSelect($event)" formControlName="Image">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
    <button class="btn btn-dark" [disabled]="service.addProductModel.invalid">Submit</button>
</form>