.main-ctn{
    width: 85%;
    margin: 0 auto;
}
.ngx-datatable.material {
    overflow-wrap: break-word;
    }
    .ngx-datatable{
        margin-left: 0px;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: normal !important;
        vertical-align: middle !important;
        word-break: break-all;
    }

    .filter-select-ctn{
        padding: 20px 10px;
    }
    .filter-select-ctn select{
        margin: 5px 0px;
    }

    @media only screen and (min-width: 600px) {
        .filter-select-ctn{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 85%;
            margin: 0 auto;
        }
        .filter-select-ctn select{
            max-width: 170px;
            margin: 0px 5px ;
        }
      }