<form #loginForm = "ngForm" (ngSubmit)="login(loginForm)" autocomplete="off">
    <p>Login</p>
            <label>
                <p class="label-txt">Email</p>
                <input type="text" class="input" name="email" [(ngModel)]="loginModel.Email">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>

            <label>
                <p class="label-txt">Password</p>
                <input type="password" class="input" name="password" [(ngModel)]="loginModel.Password" >
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
    <button class="btn btn-dark" >Login</button>
    <button class="btn btn-dark" routerLink="/register">Register</button>
</form>