<form [formGroup] = "service.loginModel" (submit)="login()" autocomplete="off">
    <p>Login</p>
            <label>
                <p class="label-txt">Email</p>
                <input type="text" class="input" formControlName="Email">
                <div class="line-box">
                    <div class="line"></div>
                </div>
                <label class="text-danger" *ngIf="service.loginModel.get('Email')?.touched && service.loginModel.get('Email')?.errors?.required">Email is required</label>
                <label class="text-danger" *ngIf="service.loginModel.get('Email')?.touched && service.loginModel.get('Email')?.errors?.email">Invalid Email</label>
            </label>

            <label>
                <p class="label-txt">Password</p>
                <input type="password" class="input" formControlName="Password">
                <div class="line-box">
                    <div class="line"></div>
                </div>
                <label class="text-danger" *ngIf="service.loginModel.get('Password')?.touched && service.loginModel.get('Password')?.errors?.required">Password is required</label>
            </label>

    <button class="btn btn-dark" [disabled]="service.loginModel.invalid">Login</button>
    <button type="button" class="btn btn-dark" routerLink="/register">Register</button>

    <div class="form-group">
        <a routerLink="/forgotpassword">Forgot Password</a>
    </div>
</form>